<a href="https://colab.research.google.com/github/gabrield03/Job-Posting-Analysis-and-Visualization/blob/main/DataProcessing/Processing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Edited by: Gabriel Larot

Last Updated: Feb 20, 2024

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url_csv = 'https://raw.githubusercontent.com/gabrield03/Job-Posting-Analysis-and-Visualization/main/Datasets/DataScientist.csv'

jobs_df = pd.read_csv(
  url_csv,
  na_values=['-', -1]
)
jobs_df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,NaN,NaN
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,NaN,NaN
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,NaN,Decode_M,"New York, NY","New York, NY",1 to 50 employees,NaN,Unknown,NaN,NaN,Unknown / Non-Applicable,NaN,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",NaN
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",NaN

In [45]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3909 non-null   int64
 1   index              3909 non-null   int64
 2   Job Title          3909 non-null   object
 3   Salary Estimate    3909 non-null   object
 4   Job Description    3909 non-null   object
 5   Rating             3500 non-null   float64
 6   Company Name       3909 non-null   object
 7   Location           3909 non-null   object
 8   Headquarters       3669 non-null   object
 9   Size               3680 non-null   object
 10  Founded            2932 non-null   float64
 11  Type of ownership  3680 non-null   object
 12  Industry           3363 non-null   object
 13  Sector             3363 non-null   object
 14  Revenue            3680 non-null   object
 15  Competitors        1149 non-null   object
 16  Easy Apply         164 non-null    object
dtypes: float64(2), int64(2), object(13)
memory usage: 519.3+ KB

In [46]:
# clean up columns - Deal with Job description later
jobs_clean_df = jobs_df
jobs_clean_df.replace({'Salary Estimate': r'\(.*\)'}, '', regex=True, inplace=True)
jobs_clean_df.replace({'Company Name': r'\n.*'}, '', regex=True, inplace=True)
jobs_clean_df.drop(['Unnamed: 0', 'index', 'Job Description'], axis=1, inplace=True)

#jobs_clean_df.astype({'Company Name': 'string', 'Headquarters': 'str', 'Industry': 'string', 'Sector': 'string'}).dtypes

jobs_clean_df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Senior Data Scientist,$111K-$181K,3.5,Hopper,"New York, NY","Montreal, Canada",501 to 1000 employees,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,NaN,NaN
1,"Data Scientist, Product Analytics",$111K-$181K,4.5,Noom US,"New York, NY","New York, NY",1001 to 5000 employees,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,NaN,NaN
2,Data Science Manager,$111K-$181K,NaN,Decode_M,"New York, NY","New York, NY",1 to 50 employees,NaN,Unknown,NaN,NaN,Unknown / Non-Applicable,NaN,True
3,Data Analyst,$111K-$181K,3.4,Sapphire Digital,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",NaN
4,"Director, Data Science",$111K-$181K,3.4,United Entertainment Group,"New York, NY","New York, NY",51 to 200 employees,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,AWS Data Engineer,$55K-$112K,4.4,Tachyon Technologies,"Dublin, OH","Irving, TX",201 to 500 employees,2011.0,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),NaN,NaN
3905,Data Analyst â Junior,$55K-$112K,5.0,"Staffigo Technical Services, LLC","Columbus, OH","Woodridge, IL",51 to 200 employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN
3906,Security Analytics Data Engineer,$55K-$112K,3.8,"PDS Tech, Inc.","Dublin, OH","Irving, TX",5001 to 10000 employees,1977.0,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),NaN,NaN
3907,Security Analytics Data Engineer,$55K-$112K,4.0,Data Resource Technologies,"Dublin, OH","Omaha, NE",1 to 50 employees,NaN,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),NaN,NaN
3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K,3.7,UCB,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,NaN,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,NaN

In [47]:
jobs_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          3909 non-null   object
 1   Salary Estimate    3909 non-null   object
 2   Rating             3500 non-null   float64
 3   Company Name       3909 non-null   object
 4   Location           3909 non-null   object
 5   Headquarters       3669 non-null   object
 6   Size               3680 non-null   object
 7   Founded            2932 non-null   float64
 8   Type of ownership  3680 non-null   object
 9   Industry           3363 non-null   object
 10  Sector             3363 non-null   object
 11  Revenue            3680 non-null   object
 12  Competitors        1149 non-null   object
 13  Easy Apply         164 non-null    object
dtypes: float64(2), object(12)
memory usage: 427.7+ KB